.container{
  background-color: darkviolet;
  width: 20pc;
  height: 25pc;
  position: relative;
  left: 26.5pc;
  top: 5.3pc;
}

.containerr{

  position: relative;
  left: 10pc;
  width: 50pc;
  height: 0.1pc;

}
